{#- vim: ft=jinja #}

{%- if 'latest' == mapdata.version -%}
{#- make sure curl is available to parse the final URL -#}
  {%- if 'curl' | which -%}
    {%- set latest = salt['cmd.run_stdout'](
          "curl -ILs -o /dev/null -w %{url_effective} '" ~ mapdata.lookup.pkg.latest ~
          "' | grep -o '[^/]*$' | sed 's/v//'",
          python_shell=true
        )
    -%}
  {#- Otherwise, do some shell stuff to hopefully find (only) the version.
      OPTIONS query failed with 404 and there is no way to get the final URL from Salt afaict. -#}
  {%- else -%}
    {%- set whole_page = salt['http.query'](mapdata.lookup.pkg.latest) -%}
    {%- set latest = salt['cmd.run_stdout'](
          "grep -oE '<h1 [^>]+>Bitcoin Core [0-9\.]+' | cut -d'>' -f2 | sed 's/Bitcoin Core //'",
          stdin=whole_page.body,
          python_shell=true
        )
    -%}
  {%- endif -%}
  {%- do mapdata.update({'version': latest}) -%}
{%- endif -%}
